.blackbar{
    background: black;
}

.blackbar img{
    width: 70px;
}

.game-img{
    width: 100%;
    height: 400px;
    background: gray;
}

.container{
    width: 60%;
    height: 100%;
    background: lightgray;
}

.returnal-txt{
    
    background: gray;
}