.blackbar{
    background: black;
}

.blackbar img{
    width: 70px;
}

.game-img{
    width: 100%;
    height:570px;
    background-image: url(./img/jumbo-bg.png);
    
}

.returnal-txt{
    color: white;
}

.buy{
    background: red;
    color: white;
    border-radius: 20px;
    height: 35px;
}

.game-pic .box img{
    border-radius: 15px;
}

.game-pic .box img:hover{
    border: 2px solid blue;
    border-radius: 15px;
}

.title-console {
    text-align: center;
}

.title-console h6{
    text-transform: uppercase;
    color: dodgerblue;
}

.title-console p{
    color: grey;
    font-weight: 600;
    font-size: 14px;
}

.ps5-info{
    width: 80%;
}

.ps5-info p{
    color: grey;
    font-weight: 600;
    font-size: 14px;
}

.ps5-info button{
    background: blue;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}

@media screen and (min-width: 769px){
    .container{
        width: 60%;
        height: auto;
    }
}

/* @media screen and (max-width: 768px){
    .ps5-info{
        text-align: center;
    }

    .ps5-info button{
        justify-content: center;
    }
} */