body{
    font-family: Arial, Helvetica, sans-serif;
}


/* header */
header{
    width: 100%;
    position: fixed;
}

.blackbar{
    background: black;
}

.blackbar img{
    width: 70px;
}

.nav-item{
    font-size: 13px;
    color: black;
}

.nav-item{
    color: black;
}

/* returnal section */
.returnal-img{
    width: 100%;
    height:570px;
    background-image: url(./img/jumbo-bg.png);
    background-position-x: center;
    background-position-y: top;
}

.returnal-txt{
    color: white;
    font-size: 14px;
}

.buy{
    background: red;
    color: white;
    border-radius: 20px;
    height: 35px;
}

.game-pic .box img{
    border-radius: 15px;
}

.game-pic .box img:hover{
    border: 2px solid blue;
    border-radius: 15px;
}

/* ps5 section */
.title-console {
    text-align: center;
}

.title-console h6{
    text-transform: uppercase;
    color: dodgerblue;
}

.title-console p{
    color: grey;
    font-weight: 600;
    font-size: 14px;
}

.ps5-info{
    width: 80%;
}

.ps5-info p{
    color: grey;
    font-weight: 600;
    font-size: 14px;
}

.ps5-info button{
    background: blue;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}

.box-ps5{
    display: flex;
    justify-content: center;
    height: auto;
}

.box-ps5 img{
    width: 50%;
    filter: opacity(0.5);
}

.accessories{
    text-align: center;
    color: grey;
    font-size: 14px;    
    font-weight: 500;
    
}

.accessories:hover{
    border-bottom: 2px solid blue;
    color: black;
    
}

.accessories:hover img{
    filter: none;
}

/* it takes two section */
.it_takes_2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    height:500px;
    background-position: center;
    background-size: cover;
}

.t_2-txt{
    color: white;
    font-size: 14px;
}

/* new releases section */
.new-releases-bg{
    width: 100%;
    height: auto;
    background: rgb(34, 34, 34);
}

.new-rel-title{
    color: white;
}

.box-new-rel{
    font-size: 14px;
    font-weight: 500;
}

.box-new-rel i{
    font-size: 7px;
    line-height: 0;
}

/* ps4 section */
.ps4 p{
   text-align: center;
   font-size: 14px;
   font-weight: 600;
   color: grey;
}

.ps4 h2{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.ps4 h2 i{
    font-size: 10px;
}

.ps4-access img{
    width: 100%;
}

.ps4-access p{
    font-size: 13px;
    font-weight: 500;
    color: grey;
}

.ps4-access button{
    font-size: 12px;
    background: blue;
    color: white;
    border-radius: 20px;
}

/* section platstation plus */
.PSplus-bg{
    width: 100%;
    height: auto;
    background: rgb(189, 186, 186);
    margin-top: 10px;
    background-position: center;
}

.PSplus-txt img{
    width: 60%;
    height: auto;
    margin-bottom: 20px;
}

.PSplus-txt p{
    font-size: 14px;
    font-weight: 500;
}

.PSplus-txt button{
    font-size: 14px;
    font-weight: 500;
    background: lightgray;
    color: rgb(66, 66, 250);
    border-radius: 20px;
    margin-top: 15px;
}

.PSplus-game img{
    width: 100%;
}

/* discount section */
.discount p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: grey;
 }
 
 .discount h2{
     display: flex;
     align-items: flex-start;
     margin-top: 20px;
 }
 
 .discount-pic img{
     width: 100%;
     height: auto;
     margin-bottom: 30px;
 }
 
 .ps4-access p{
     font-size: 13px;
     font-weight: 500;
     color: grey;
 }
 
 .ps4-access button{
     font-size: 12px;
     background: blue;
     color: white;
     border-radius: 20px;
 }
 

/* media queries */
@media screen and (min-width: 769px){
    .container{
        width: 60%;
        height: auto;
    }
}

@media screen and (max-width: 769px){
    .PSplus-game img{
        display: none;
    }
    
    .PSplus-bg{
        display: flex;
        align-items: center;
        padding: 30px 30px;
    }

}

@media screen and (max-width: 576px){
    .more-info{
        justify-content: center;
    }
    
    .more-info .box{
        text-align: center;
    }
    
    .button-info{
        display: flex;
        justify-content: center;
    }
}